{% extends 'polls/base.html' %}

{% block title %} Вопрос {{ question.question_text }} {% endblock %}

{% block content %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
        <h1>{{question.question_text}}</h1>
        <img src="{{ question.image.url }}" alt="Картинка вопроса">
        <p>{{ question.description }}</p>
        {% if error_message %}<p><strong> {{error_message}}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
        <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br>
        {% endfor %}
    <br>
    <input type="submit" value="Vote">
</form> <br>
<a href="{% url 'polls:results' question.id %}">Посмотреть результаты</a>

{% endblock %}